.container{
	margin-top: 0px;
}
.image{
	height: 280px;
	width: 260px;
}
.newarrival{
	font-size: 34px;
	font-weight: bold;
}
.small{
	font-size: 17px;
	font-weight: bold;
}
.big{
	color: #FE980F;
	font-size: 25px;
	font-weight: bold;
}
.high{
	background-color: #f1d7c8;
}
.checked {
  color: orange;

}
.fa{
  font-size: 30px;
}
.year{
	color: #FE980F;
	font-size: 25px;
	font-weight: bold;
}
.year2{
	font-size: 25px;
	cursor: pointer;
	padding-left: 25px; 
}
.tb{
	background-color: white;
	width: 1000px;
}
body{
	margin:0;
	padding:0;
	font-family: 'Baloo Bhaina 2', cursive;
	background-color: #eeeeee;
}
.cart{
	
	
	font-size: 24px;
	width: 260px;
	margin-top: 15px;
}
.scrollable{
	height: 300px;
	width: 1020px;
	overflow: scroll;
}
.mar{
	margin-top: 25px;
}